= simple_form_for @upload do |f|
  = f.input :agency, label: "agency.txt"
  = f.input :calendar, label: "calendar.txt"
  = f.input :calendar_dates, label: "calendar_dates.txt"
  = f.input :routes, label: "routes.txt"
  = f.input :shapes, label: "shapes.txt"
  = f.input :stop_times, label: "stop_times.txt"
  = f.input :stops, label: "stops.txt"
  = f.input :trips, label: "trips.txt"
  = f.button :submit, label: "submit.txt"
